.about-page .links {
  width: 310px;
}

.about-page .ctr-btn {
  width: 204px;
}

.tag {
  padding: 10 25px;
  border: 1px solid var(--color-light-gray);
  border-radius: 22px;
}

.exp-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-text {
    width: 60%;
}
.about-text p {
  font-size: 20px;
  margin-top: 8px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 28px;
}

#about-container h1 {
  align-self: baseline;
}
#about-container {
  margin: 94px auto;
}
.sub-head h2 {
  font-size: 25px;
}
#about-container ul li {
  list-style: circle;
}
.exp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
