@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-primary);
    border: none;
    margin: 0;
    padding: 0;
    color: var(--color-text-light);
}

h1 {
    font-family: var(--font-heading);
    color: var(--color-text);
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

img {
    display: block;
    max-width: 100%;
    height: fit-content;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-bg-primary);
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--font-size-p);
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    min-height: 64px;
    justify-content: space-between;
    padding: 0 2em;
    text-align: center;
}

nav ul {
    display: flex;
}

nav>a {
    font-size: 2em;
    color: var(--color-text-light);
    font-family: var(--font-heading);
}

nav ul li a {
    padding-left: 1em;
    font-family: var(--font-nav-links);
    color: var(--color-text-light);
}

nav ul li a:hover,
nav>a:hover {
    color: white;
}

a p:hover {
    color: #deff57;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
}

#hero-section {
    margin: 2% auto;
}

#hero-section img {
    background-color: #c7c7c7;
    border-radius: 15px;
    width: 100%;
}

.container .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;
    font-size: 16px;
}

.container .left .text {
    display: flex;
    flex-direction: column;
}

.container .left .text p {
    font-size: var(--font-size-p);
}

.links {
    margin: 7% 0 0 0;
    display: flex;
    list-style: none;
    width: 290px;
}

svg {
    height: 41px;
    width: 41px;
    margin-left: 1em;
    background: var(--color-bg-secondary);
    border-radius: 100%;
    padding: 8px;
}

svg:hover {
    background: #323232;
}

.container .right {
    display: flex;
    height: 100vh;
    width: 46%;
    align-items: center;
}

.ctr-btn {
    display: flex;
    align-items: center;
    width: 154px;
    justify-content: space-between;
    padding: 0px 3px;
}

button {
    font-weight: 800;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border-radius: 23px;
    height: 43px;
    cursor: pointer;
}

button p {
    color: var(--color-btn-text);
    padding-left: 10px;
    transition: 0.6s;
}

button span {
    margin-right: 14px;
    display: block;
    border-radius: 100%;
    background-color: var(--color-btn-text);
    height: 9px;
    width: 9px;
    transition: 0.6s;
}

button:hover p {
    margin-bottom: 2px;
    margin-right: 2px;
}

button:hover span {
    background-image: url(../public/assets/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px 0px 0px;
    height: 38px;
    width: 38px;
    background-size: 25px 25px;
}

.width-50 {
    width: 50%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #555555;
}

#projHead {
    justify-content: flex-start;
}

#project {
    margin: 6% 0;
}

#projCard {
    width: 100%;
    height: 92vh;
    align-items: center;
    gap: 5vh;
    margin: 0vh auto;
}

#projImg {
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-raduis-s);
}

#projImg img {
    border-radius: var(--border-raduis-s);
}

#projCard a,
#about a {
    width: fit-content;
    border-bottom: 1px solid var(--color-btn-bg);
}

#about-links a {
    color: black;
    padding: 0px 0px 0 5px;
    border-bottom: 0px solid transparent;
}

a {
    display: flex;
    color: var(--color-btn-bg);
}

a p {
    font-size: 20px;
    color: var(--color-btn-bg);
}

a img {
    width: 28px;
    margin-left: 6px;
}


#projImg {
    width: 100%;
    height: fit-content;
    padding: 15vh 4vw;
}

.projText {
    width: fit-content;
    padding: 0px 5%;
}

.projDesc {
    gap: 3vh;
    display: flex;
    flex-direction: column;
}

.projInfo,
.projLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-p);
}

.projInfo div {
    min-height: 60px;
    display: flex;
    border-bottom: 1px solid var(--color-light-gray);
    justify-content: space-between;
    align-items: center;
}

.projInfo div:nth-child(2) {
    color: var(--color-text-light);
}

.projLinks {
    max-width: 350px;
    flex-direction: row;
    margin: 1rem 0;
    width: 90%;
    justify-content: space-between;
}

#about {
    margin: 22vh auto;
    align-items: baseline;
}

#about>div {
    align-self: flex-start;
}

#about>div:nth-child(1) {
    height: 36vh;
    width: 50%;
    font-size: 1.6rem;
}

#about div h2 {
    font-size: 31px;
}

#about>div:nth-child(2) {
    display: flex;
    width: 70%;
    padding: 2vh 0;
    flex-direction: column;
    justify-content: space-between;
}


#about div div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 17px
}

#contact {
    display: flex;
}

#contact img {
    height: 41px;
    width: 41px;
    background: var(--color-bg-secondary);
    border-radius: 100%;
    padding: 8px;
}

#contact img:hover {
    background: #323232;
}

#contact .links h1 {
    padding: 0 0 0 7px;
}

#contact .links svg {
    margin-left: 0;
}

#contact .links img:nth-child(1) {
    height: 26px;
    padding: 0;
}

#contact .links img:nth-child(2) {
    height: 33px;
    padding: 0;
}

#contact {
    margin: 10vh auto;
}

#contact .right {
    width: 50%;
}

#contact .left {
    height: 65vh;
    justify-content: space-between;
}

#contact .left p {
    font-size: 19px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87vh;
    width: 100%;
}

label {
    font-family: 'Manrope';
}

#message {
    height: 123px;
    padding: 7px 10;
}


input,
textarea {
    color: white;
    font-size: 18px;
    padding: 0 0 0px 11px;
    margin-top: 8px;
    background: var(--color-bg-secondary);
    width: 100%;
    height: 56px;
    border-radius: 5px;
}

#footer {
    display: none;
}

@media only screen and (max-width: 900px) {
    .container .right {
        height: auto;
    }

    button span {
        background-image: url(../public/assets/images/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 1px 0px 0px;
        height: 38px;
        width: 38px;
        background-size: 25px 25px;
    }


    .width-50 {
        width: unset;
    }

    #projCard {
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5vh;
        margin: 6vh auto;
    }

    #projImg {
        width: 90%;
        margin: auto;
        padding: 5vh 5vw 0 5vw;
        justify-content: center;
    }

    .projText {
        gap: 1vh;
        display: flex;
        flex-direction: column;
    }

    .projDesc {
        gap: 2vh;
        display: flex;
        flex-direction: column;
    }

    .projInfo,
    .projLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-p);
    }

    .projInfo div {
        min-height: 60px;
        display: flex;
        border-bottom: 1px solid var(--color-light-gray);
        justify-content: space-between;
        align-items: center;
    }

    .projInfo div:nth-child(2) {
        color: var(--color-text-light);
    }

    .projLinks {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .container {
        flex-direction: column;
        width: 90%;
    }

    .container .links {
        flex-direction: row;
        width: 286px;
    }

    .container .left {
        width: 100%;
        margin-bottom: 10%;
        font-size: 15px;
    }

    .container .right {
        width: 100%;
    }

    #about {
        margin: 3vh auto;
    }

    #about div div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 3vh;
    }

    #about div:nth-child(1) {
        height: auto;
        font-size: 14px;
        font-weight: 100;
        width: 100%;
    }

    #about>div:nth-child(2) {
        height: auto;
        padding: 0;
        width: 90%;
    }

    #about>div p {
        font-size: 16px;

    }

    #about div h2 {
        color: white;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 10px;
    }

    #about div div:nth-child(1) {
        display: block;
    }

    #contact .left div:nth-child(2) {
        display: none;
    }

    #contact .left,
    #contact .right {
        height: auto;
        width: 100%;
    }

    .clr-btn {
        height: 51px;
    }

    #footer {
        display: flex;
        width: 100%;
        height: 19vh;
        align-items: center;
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 910px) {
    .projLinks {
        max-width: 350px;
        flex-direction: column;
        margin: 1rem 0;
        width: 90%;
        justify-content: space-between;
        height: 68px;
    }

}

@media only screen and (max-width: 600px) {

    :root {
        --font-size-p: 1.3em;
    }

}


:root {
    --font-primary: "Manrope", serif;
    --font-heading: "Bebas Neue", serif;
    --font-nav-links: "Inter", serif;
    --font-size-h1: 4em;
    --font-size-p: : .7em;
    --font-size-sm: 16px;
    /* --font-size-p: : .6em; working best in mobile */
    /* --font-size-h1: 2em; */
    --color-light-gray: #494949;
    --color-bg-primary: var(--color-btn-text);
    --color-bg-secondary: #1A1A1A;
    --color-text-light: #C7C7C7;
    --color-text: #ffffff;
    --color-btn-bg: #D3E97A;
    --color-btn-text: #0A0A0A;
    --border-raduis-s: 20px;
    --font-size-h2: 2rem;
}